{{ define "main" }}
  {{ $allPosts := where site.RegularPages "Type" "posts" }}
  {{ $allTags := slice }}
  {{ range $allPosts }}
    {{ if .Params.tags }}
      {{ range .Params.tags }}
        {{ $allTags = $allTags | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $uniqueTags := $allTags | uniq | sort }}
  {{ $yearMonths := slice }}
  {{ range $allPosts }}
    {{ $yearMonth := printf "%s %s" (.Date.Format "2006") (.Date.Format "January") }}
    {{ $yearMonths = $yearMonths | append $yearMonth }}
  {{ end }}
  {{ $uniqueYearMonths := $yearMonths | uniq | sort }}


  <div class="list-container">
    <header class="list-header">
      <h1 class="list-title">
        <span class="list-title-line2">POSTS</span>
      </h1>
      {{ if .Description }}
        <p class="list-description">{{ .Description }}</p>
      {{ end }}
      {{ partial "list-count.html" . }}
    </header>

    <div class="posts-list" id="posts-container">
      {{ range .Paginator.Pages }}
        {{ $dataTags := "" }}
        {{ if .Params.tags }}
          {{ $dataTags = delimit .Params.tags "," }}
        {{ end }}
        {{ partial "post-card.html" (dict
          "page" .
          "limit" 3
          "dataYearMonth" (printf "%s %s" (.Date.Format "2006") (.Date.Format "January"))
          "dataTags" $dataTags)
        }}
      {{ end }}
    </div>

    <!-- Pagination -->
    {{ partial "pagination.html" . }}

    <!-- Navigation links -->
    {{ partial "back-to-home.html" . }}
  </div>
{{ end }}
