/* kbd {
  color: #555;
  background: #eee;
  font-family: monospace;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 5px;
  margin: 2px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #777;
  vertical-align: text-bottom;
} */

