:root,
:host {
  --pico-font-family-emoji: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --pico-font-family-sans-serif: "Adwaita Sans", sans-serif, var(--pico-font-family-emoji);
  --pico-font-family-monospace: "Adwaita Mono", monospace, var(--pico-font-family-emoji);
  --pico-font-family: var(--pico-font-family-sans-serif);
}

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    #header-title {
      color: var(--pico-color-red-550);
    }
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    #header-title {
      color: var(--pico-color-red-400);
    }
  }
}
