<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">

  {{ $styleCss := resources.Get "style.css" | minify | fingerprint }}
  {{ $picoCss := resources.Get "vendor/pico.min.css" | minify | fingerprint }}
  {{ $picoColourCss := resources.Get "vendor/pico.colors.min.css" | minify | fingerprint }}

  <link rel="stylesheet" href="{{ $styleCss.RelPermalink }}" integrity="{{ $styleCss.Data.Integrity }}">
  <link rel="stylesheet" href="{{ $picoCss.RelPermalink }}" integrity="{{ $picoCss.Data.Integrity }}">
  <link rel="stylesheet" href="{{ $picoColourCss.RelPermalink }}" integrity="{{ $picoColourCss.Data.Integrity }}">

  <title>{{ .Title }}</title>
</head>

<body>
  <div class="pico-background-slate-950">
    <nav class="container">
      <ul>
        <li><strong><a href="/">{{ site.Title }}</a></strong></li>
      </ul>
      <ul>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>

  <main class="container">
    {{ block "main" . }} {{ end }}
  </main>

  <footer class="container">
    <p>© 2018 Tryton Lux, CC BY-SA 4.0</p>
    <p>GitHub / Email</p>
  </footer>
</body>

</html>
